$_gray-white: #E9E9E9;
$_primary-blue: #000AFF;


$primary-color: $_primary-blue;

$text-color: $_primary-blue;
$text-inverted-color: $_gray-white;


$background-color: $_gray-white;


$border-color: $_primary-blue;
