
@use "../settings/variables";

body {
  background-color: variables.$background-color;
  color: variables.$primary-color;
  font-family: variables.$font-family-text;
  font-size: variables.$fs-body;
  line-height: 1.8;
  padding: 5px;
}
