// Generic
@use "generic/normalize";


// Elements
@use "elements/body";
@use "elements/footer";
@use "elements/headings";
@use "elements/img";
@use "elements/links";

// Objects
// @use "objects/container";
// @use "objects/ui-list";

// Utilities
@use "utilities/error";


@font-face {
  font-family: "HKGroteskWide-Bold";
  src: url("/fonts/HKGroteskWide-Bold.otf") format("opentype");
}

@font-face {
  font-family: "HKGroteskWide-ExtraBold";
  src: url("/fonts/HKGroteskWide-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "HKGroteskWide-Light";
  src: url("/fonts/HKGroteskWide-Light.otf") format("opentype");
}

@font-face {
  font-family: "HKGroteskWide-SemiBold";
  src: url("/fonts/HKGroteskWide-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Jost-Regular";
  src: url("/fonts/Jost-Regular.ttf") format("truetype");
}
